@*@model BettingWebApp.Models.MatchOdd*@
@model BettingWebApp.Models.MatchOdd



@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MatchOdd</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MatchID" />
            @* <div class="form-group">
            <label asp-for="MatchID" class="control-label"></label>
            <input asp-for="MatchID" class="form-control">
            <span asp-validation-for="MatchID" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Specifier" class="control-label"></label>
                <input asp-for="Specifier" class="form-control" />
                <span asp-validation-for="Specifier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Odd" class="control-label"></label>
                <input asp-for="Odd" class="form-control" />
                <span asp-validation-for="Odd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @*<a asp-action="Select">Back to List</a>*@
    <a asp-controller="Matches" asp-action="Select" asp-route-id="@ViewData["MatchID"]">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
